.backgound-account{
     background-color: #e3f2fd;
    min-height:100vh;
    font-family: 'Open Sans', sans-serif;
    background-attachment: scroll;

}

.profile{
    width: 450px;
    height: fit-content
}

.profile-box{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 87vh;
}

.bio-input{
    width:100%

}

.update-profile{
    width: 450px;
    height: fit-content;
    padding:15px;

}