

.AllPosts{
    display: flex;
    justify-content: center;
    width: 100%;
}

#comment{
    display: flex;
    align-items: stretch;
    margin-right:8px;
}

div#post{
    width: 100%;
}

.image-post{
    height: fit-content;
}

@media screen and (max-width: 800px) {
    div#post{
      width: 100%
    }
  }

